<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>
<form action="" method="post">
    {% csrf_token %}
    <!--второй метод валидации-->
    {% for field in form %} <!-- отображение филдов-->

        {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>   <!-- ошибки филдов-->
        {% endfor %}

        <p>{{ field.label }}</p> <!-- название филдов-->
        {{ field }}    <!-- сами филды-->

    {% endfor %}

    <button type="submit">Add</button>
</form>




</body>
</html>